<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Home page</title>
</head>
<body>
    <h1>This is html5 home page</h1>

    <form action="dashboard/" method="post">
        {% csrf_token %}
        <div>
            {{ form.as_p }}
        </div>

        <label for="uname">Enter name: </label>
        <input id="uname" type="text" name="name" value="Name">

        <label for="pass">Enter name: </label>
        <input id="pass" type="text" name="pass" value="Password">
        <!--<input type="submit" value="OK">-->
        <button type="submit" value="OK"> Submit </button>
    </form>

</body>
</html>